<div class="text-center">
	<div class="aem-Grid aem-Grid--default--12 aem-Grid--tablet--6 aem-Grid--phone--1">
        <div class="rgs-myGrid aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--tablet--3 aem-GridColumn--phone--1">#1</div>
        <div class="rgs-myGrid aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--tablet--3 aem-GridColumn--phone--1">#2</div>
        <div class="rgs-myGrid aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--tablet--6 aem-GridColumn--phone--1">#3</div>
	</div>
	<div class="aem-Grid aem-Grid--default--12 aem-Grid--tablet--6 aem-Grid--phone--2">
        <div class="rgs-myGrid aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--tablet--3 aem-GridColumn--phone--hide">hide (phone)</div>
        <div class="rgs-myGrid aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--tablet--3 aem-GridColumn--phone--1">&nbsp;</div>
        <div class="rgs-myGrid aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--tablet--6 aem-GridColumn--tablet--newline aem-GridColumn--phone--1">newline (tablet)</div>
	</div>
</div>