<div style="padding: 10px; background-color: #d7d7d7;" data-sly-test="${pageProperties.company}">
	<h3><b>Contacts:</b></h3><br/>
    <h5>Company : ${pageProperties.company}</h5>
    <h5>Name : ${pageProperties.name}</h5>
    <h5>Title : ${pageProperties.title}</h5>
    <h5>Phone : ${pageProperties.phone}</h5>
    <h5>Fax : ${pageProperties.fax}</h5>
    <h5>Email : ${pageProperties.email}</h5>
    <h5 data-sly-test="${pageProperties.alternateEmail}">Alternate Email : ${pageProperties.alternateEmail}</h5>
</div>